*{
    margin: 0;
}

div>div> p {
  color: blue;
}

span{
    color: blueviolet;
    text-transform: capitalize;
}

#init{
    background-color: aqua;
}

#one{
    padding:5pt;
    width:100pt;
    margin-bottom:5pt;
    text-align:center;
    font-family:sans-serif;
  }
  #two{
    padding:5pt;
    width:100pt;
    margin-bottom:5pt;
    text-align:center;
    font-family:sans-serif;
  }
  .green{
    background-color:green;
  }
  .blue{
    background-color:blue;
  }
  
  .purple{
    background-color:purple;
  }
  
  .olive{
    background-color:olive;
  }

  h1{
      background-color: rgb(22, 90, 136);
      color:white;
      padding: 20px;
      box-shadow: 3px 2px 320px 6px #ccc;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      shape-margin: circle(100px); 
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
#logo{
    margin-top: -100px;
}

#dashboard{
    margin: 10px;
    background-color: bisque;
    height: 100px;
    
}
#questionpane{
    margin: 10px;
    background-color: bisque;
    height: 100px;
    width: 75%;
}

